*{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}


h1 {
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    min-width: 180px;
}

#map {
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .filters {
    flex-direction: column;
    align-items: center;
    }

    select {
    width: 100%;
    }
}


        /* Header / Footer */
header{
    width: auto;
    height: 92px;
    background-color: #489e69;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}

.menutexts{
    padding-right: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5em;
    align-items: center;
    
}

.menutexts > a{
    text-decoration: none;
    color: black;
    font-size: 1.35em;
}


#logo{
    height: inherit;
    position: inherit;
    padding-left: 1%;
}


footer{
    background-color: #489e69;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: auto;
}

#container{
    display: grid;
    grid-template-rows: 2.5fr 4fr;
}

#footer-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px whitesmoke solid;
    margin-left: 2%;
    margin-right: 2%;
}

#footer-part2{
    display: flex;
    justify-content: space-evenly;
    border-left: 0.75px whitesmoke solid;
    border-right: 0.75px whitesmoke solid;
    margin-top: 2%;
    margin-bottom: 2%;
}

.blazes{
    display: grid;
    grid-template-rows: 2em 2em ;
    align-self: center;
    align-items: center;
    justify-items: center;
}

.blazes > p{
    font-size: 1.2rem;
}